/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/*
================= Base Styles =================
*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
}

/*
================= Layout =================
*/

/* 
---------------- navigation ----------------
*/

.nav-list,
.inner-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list:first-child,
.nav-list:nth-child(3) {
    flex-basis: 5%;
}

.inner-list li {
    flex-basis: 10%;
    padding: 0 2.5rem;
}

/* 
---------------- main ----------------
*/

.main-content * {
    margin-left: 16rem;
    color: white;
}



/*
================= Additional Styles =================
*/

/* 
---------------- header ----------------
*/

/* - - - - - navigation - - - - - */


/* 
---------------- main ----------------
*/

/* - - - - - main-content - - - - - */

.main-content {
    background: no-repeat center/100% url("../assets/images/salon-main-img.jpg");
    height: 98rem;
}

/* - - - - - aspects - - - - - */

/* 
---------------- momentum section ----------------
*/

/* - - - - - text - - - - - */


/* - - - - - image - - - - - */


/* 
---------------- stylists section ----------------
*/

/* 
---------------- color section ----------------
*/

/* 
---------------- lookbook section ----------------
*/

/* - - - - - image-container - - - - - */

