/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/*
================= Base Styles =================
*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, .book-text, .button-text {
    margin: 0;
    font-family: 'Cinzel', serif;
}

.button {
    display: inline-block;
    background: #000;
    padding: 1rem 2rem;
    margin: 2rem 0;
}

.inner-list,
.nav-button,
.button-text,
.book-text,
.discount {
    font-weight: 600;
}

/*
================= Layout =================
*/

/* 
---------------- navigation ----------------
*/

.nav-list,
.inner-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list:first-child,
.nav-list:nth-child(3) {
    flex-basis: 5%;
}

.inner-list li {
    flex-basis: 10%;
    padding: 0 2.5rem;
}

/* 
---------------- main ----------------
*/

.main-content * {
    color: white;
}

.content-container {
    margin-left: 16rem;
}



/*
================= Additional Styles =================
*/

/* 
---------------- header ----------------
*/

/* - - - - - navigation - - - - - */

.inner-list,
.nav-button {
    font-family: 'Cinzel', serif;
}

.nav-button {
    display: flex;
    align-items: center;
}

.dash {
    font-size: 2rem;
    padding: 0 1rem .2rem 0;
}

/* 
---------------- main ----------------
*/

/* - - - - - main-content - - - - - */

.main-content {
    background: no-repeat center/100% url("../assets/images/salon-main-img.jpg");
    height: 98rem;
}

.title {
    padding-top: 25rem;
    font-weight: 400;
    font-size: 9.25rem;
}

.headline {
    font-size: 1.5rem;
    letter-spacing: .3rem;
}

.button-text,
.first-visit {
    font-size: 1.25rem;
}

.first-visit {
    width: 20%;
    background: #000;
    padding: 3rem 0;
}

.visit-title {
    padding: 2rem 0 2rem 2rem;
    border-left: .25rem solid #fff;
}

.visit-text,
.book-link {
    margin-left: 2.25rem;
}

.visit-text {
    line-height: 1.5;
    padding-bottom: 2rem;
}

.discount {
    font-size: 3rem;
}

.book-link {
    display: inline-block;
    background: #fff;
    padding: 1rem 2rem;
}

.book-text {
    color: #000;
}

/* - - - - - aspects - - - - - */

/* 
---------------- momentum section ----------------
*/

/* - - - - - text - - - - - */


/* - - - - - image - - - - - */


/* 
---------------- stylists section ----------------
*/

/* 
---------------- color section ----------------
*/

/* 
---------------- lookbook section ----------------
*/

/* - - - - - image-container - - - - - */

