/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/*
================= Base Styles =================
*/

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, .book-text, .button-text {
    margin: 0;
    font-family: 'Cinzel', serif;
}

.button {
    display: inline-block;
    background: #000;
    padding: 1.5rem 2rem;
    margin: 2rem 0;
}

.button-text {
    color: #fff;
}

.inner-list,
.nav-button,
.button-text,
.book-text,
.discount {
    font-weight: 600;
}

/* .content-spacing {
    padding: 0 10rem;
} Add class to elements for uniform ""border"" spacing across website */

/*
================= Layout =================
*/

/* 
---------------- navigation ----------------
*/

.nav-list,
.inner-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list:first-child,
.nav-list:nth-child(3) {
    flex-basis: 5%;
}

.inner-list li {
    flex-basis: 10%;
    padding: 0 2.5rem;
}

/* 
---------------- main ----------------
*/

.main-content * {
    color: white;
}

.content-container {
    margin-left: 16rem;
}



/*
================= Additional Styles =================
*/

/* 
---------------- header ----------------
*/

/* - - - - - navigation - - - - - */

.inner-list,
.nav-button {
    font-family: 'Cinzel', serif;
}

.nav-button {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-family: 'Courgette', cursive;
}

.search-icon {
    width: 1.5rem;
}

.cart-icon {
    width: 1.75rem;
}

.dash {
    font-size: 2rem;
    padding: 0 1rem .2rem 0;
}

/* 
---------------- main ----------------
*/

/* - - - - - main-content - - - - - */

.main-content {
    background: no-repeat center/100% url("../assets/images/salon-main-img.jpg");
    height: 98rem;
}

.title {
    padding-top: 25rem;
    font-weight: 400;
    font-size: 9.25rem;
}

.headline {
    font-size: 1.5rem;
    letter-spacing: .3rem;
}

.first-visit,
.visit-title {
    /* font-size: 1.25rem; */
    font-size: 1.6rem;
}

.btn-margin {
    margin: 4rem 0 9rem 0;
}

.button-text {
    font-size: 1.1rem;
}

.first-visit {
    width: 23%;
    background: #000;
    padding: 3rem 0;
}

.visit-title {
    padding: 2rem 0 2rem 2rem;
    border-left: .25rem solid #fff;
    font-weight: 400;
}

.visit-text,
.book-link {
    margin-left: 2.25rem;
}

.visit-text {
    line-height: 1.75;
    padding-bottom: 3rem;
}

.discount {
    font-size: 3rem;
}

.book-link {
    display: inline-block;
    background: #fff;
    /* padding: 1rem 3rem; */

    padding: 1rem 8%;
}

.book-text {
    font-size: 1.25rem;
    color: #000;
}

/* - - - - - aspects - - - - - */

.aspects {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 8rem 10rem 10rem 10rem;
}

.aspect-beauticians,
.aspect-services,
.aspect-products {
    width: 20%;
}

.aspect-img {
    width: 25%;
    margin-bottom: 2rem;
}

.aspect-title {
    font-size: 1.65rem;
    margin-bottom: 1.5rem;
}

.aspect-info {
    font-size: 1.25rem;
    line-height: 1.5;
}

/* 
---------------- momentum section ----------------
*/

.momentum {
    background: #f4f4f4;
    padding: 8rem 10rem;
    display: flex;
    justify-content: space-around;
}

/* - - - - - text - - - - - */

.momentum-left{
    padding: 0 5rem 0 10rem;
    width: 50%;
}

.momentum-title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.momentum-info {
    line-height: 2;
    margin-bottom: 3.25rem;
}

.momentum-btn {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 0;
}


/* - - - - - image - - - - - */

.momentum-right {
    width: 50%;
}

.momentum-img {
    width: 80%;
}


/* 
---------------- stylists section ----------------
*/

.stylists {
    background: #fff;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 15rem;
    display: flex;
    justify-content: space-around;
    width: 73%;
}

.stylist {
    width: 33.3333%;
    padding: 0 2rem;
    position: relative;
}

.stylist-img {
    width: 100%;
    z-index: 0;
}

.stylist-info {
    font-family: 'Cinzel', serif;
    display: inline-block;
    width: 80%;
    padding: 2rem 0;
    background: #000;
    color: #fff;
    text-align: center;

    position: absolute;
    top: 90%;
    left: 10%;
    z-index: 1;
}

.name {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
}

.role {
    font-weight: 300;
    font-size: 1rem;
}


/* 
---------------- color section ----------------
*/

.color {
    background: linear-gradient(#e6e4e5, #f4f4f4);
    margin: 0 15%;
}
.color-container {
    background: url("../assets/images/banner.jpg") 100% 0 / 70% no-repeat;
    padding: 6rem 0;
}

.color-text {
    margin-left: 5rem;
    z-index: 1;
}

.color-title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.discount-two {
    font-size: 5rem;
    font-weight: 600;
}

.color-info {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.5;
}

.color-img {
    z-index: 0;
}

.color-btn {
    margin-bottom: 0;
}


/* 
---------------- lookbook section ----------------
*/

.lookbook {
    text-align: center;
}

.lookbook-title {
    margin: 10rem 0 4rem 0;
    font-size: 4rem;
}

.line {
    margin: 0 auto 6rem auto;
    background: #000;
    border-radius: .25rem;
    width: 3.5rem;
    height: .5rem;
}

/* - - - - - image-container - - - - - */

.image-container {
    margin: 0 20rem;
}

.image-container,
.column-one,
.column-two,
.column-three {
    display: flex;
    justify-content: space-around;
}

.column-one,
.column-two,
.column-three {
    flex-direction: column; 
}

.one-third,
.two-thirds {
    z-index: 1;
    margin-bottom: 2rem;
    width: 30rem;
}

.one-third {
    height: 30rem;
}

.two-thirds {
    height: 60rem;
}

.one-third:hover {
    background: blue;
}